<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" href="/output.css">
</head>

<body class="h-dvh w-dvw bg-gray-50 ">
  <%- include('./partials/nav.ejs') %>
    <h1 class="text-4xl text-blue-600 font-bold text-center mt-20">404</h1>
    <p class="text-4xl text-gray-400 font-bold text-center">Oops! Page Not Found</p>


</body>

</html>